.roxo{
    color: white;
    background-color: purple;
    font-weight: bold;
    width: 100px;
    width: 100px;
    padding: 5px;
}

.About{
    color: white;
    font-size: medium;
}

.Friends{
    color: white;
}

.reunion{
    color: white;
}


