body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h3 {
    color: #ffffff;
}

p {
    font-size: 18px;
    color: #ffffff;
    max-width: 800px;
    margin: 0 auto 20px;
}


img {
    max-width: 200px;
    height: auto;
    margin: 10px;
    
}

.bio{
    color: aqua;
}

iframe {
    margin: 20px 0;
    border-radius: 10px;
}

div ul {
    list-style: none;
    padding: 0;
}

    div ul li {
    display: inline;
    margin: 0 10px;
    }

div ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

div ul li a:hover {
    color: #ff0000;
}